body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.header-logo-span {
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.header-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.header-item-link {
  color: #2e2f42;
  font-weight: 500;
}
.header-item-link:hover {
  color: #404bbf;
}
.header-item-link:focus {
  color: #404bbf;
}
.header-item-link:hover {
  color: #404bbf;
}
.header-adr {
  font-style: normal;
}
.header-adr-link {
  color: #434455;
  font-weight: 400;
  font-style: normal;
}
.header-adr-link:hover {
  color: #404bbf;
}
.header-adr-link:focus {
  color: #404bbf;
}
.business {
  background: #2e2f42;
}
.business-title {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.07;
}
.business-btn {
  font-family: "Roboto", sans-serif;
  background: #4d5ae5;
  color: #fff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.business-btn:hover {
  background-color: #404bbf;
}
.business-btn:focus {
  background-color: #404bbf;
}
.benefits-title {
  color: #2e2f42;
  letter-spacing: 0.02em;
}
.benefits-list-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.benefits-list-text {
  font-weight: 400;
}
.team {
  background-color: #f4f4fd;
}
.team-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-transform: capitalize;
}
.team-list-item {
  background-color: #ffffff;
}
.team-item-title {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.team-item-text {
  text-align: center;
  font-weight: 400;
}
.portfolio-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.portfolio-item-title {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.portfolio-item-text {
  text-align: center;
  font-weight: 400;
}
.footer-logo-span {
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer {
  background: #2e2f42;
}
.footer-text {
  color: #f4f4fd;
  font-weight: 400;
}
